services:
  bap-back:
    image: yooseohyeon/bapick-app:latest 
    container_name: fastapi_onnx_app
    ports:
      - "8000:8000"
    
    env_file:
      - .env
      
    volumes:
      - ./mykey.json:/app/config/firebase-key.json
      - /home/ec2-user/kure-v1-onnx:/app/kure-v1-onnx
    depends_on:
      - chromadb
    restart: always

  chromadb:
    image: yooseohyeon/my-chroma-repo:v1.1
    container_name: chroma_final_server 
    ports:
      - "8001:8000" 
    volumes:
      - /home/ec2-user/chroma_data:/data 
    restart: always

volumes:
  chroma_data: