name: Deploy to EC2
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: yooseohyeon/bapick-app:latest
    
    # - name: Transfer docker-compose.yml to EC2
    #   uses: appleboy/scp-action@master
    #   with:
    #     host: ${{ secrets.EC2_HOST }}
    #     username: ${{ secrets.EC2_USER }}
    #     key: ${{ secrets.EC2_KEY }}
    #     source: "docker-compose.yml" 
    #     target: "~/"

    - name: Setup SSH Agent for Secure Transfer
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.EC2_KEY }} 
        
    - name: Transfer docker-compose.yml to EC2 with Retry
      run: |
        MAX_RETRIES=5
        RETRY_DELAY=5
        TARGET_PATH="~/"
        
        SSH_HOST=${{ secrets.EC2_HOST }}
        SSH_USER=${{ secrets.EC2_USER }}
        
        for i in $(seq 1 $MAX_RETRIES); do
          echo "Attempt $i: Transferring docker-compose.yml to ${SSH_USER}@${SSH_HOST}:${TARGET_PATH}..."
          
          if scp -o StrictHostKeyChecking=no docker-compose.yml "${SSH_USER}@${SSH_HOST}:${TARGET_PATH}"; then
            echo "File transfer successful."
            exit 0
          else
            echo "Transfer failed. Waiting ${RETRY_DELAY}s before retrying..."
            sleep $RETRY_DELAY
          fi
        done
        echo "File transfer failed after $MAX_RETRIES attempts."
        exit 1
        
    - name: Deploy to EC2 (Run docker commands)
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd ~ 
          sudo docker-compose pull
          sudo docker-compose down
          sudo docker-compose up -d --force-recreate
          sudo docker image prune -f
